*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
}

.navbar{
  background-color: DarkBlue !important;
  padding: 0;
  margin: 0;
}

.navbar-nav{
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  float: none;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.navbar-collapse > li{
  display: block;
}
.nav-item {
  font-size: 18px;
  padding: 1%;
  margin: 0 auto;
  color: LightSkyBlue;
  align-self: center;
  display: block;
}

.current{
  border-bottom: 5px solid red;
}

a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: LightSkyBlue;
}


.body_container {
  width: 80%;
  margin: 0 auto;
}

.main_title{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sub_main_title{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.intro_header{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 24px;
}
