body{
  margin: 0;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
}

.menu_bar{
  margin: 0;
  padding: 0;
  background-color: DarkBlue;
  text-align: center;
}

.menu_bar_item {
  font-size: 18px;
  display: inline-block;
  padding: 1%;
  margin: 0 auto;
  color: LightSkyBlue;
}

.current{
  border-bottom: 5px solid red;
}
a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: LightSkyBlue;
}

.menu_container{
  min-width: 825px;
}

.body_container {
  width: 1000px;
  margin: 0 auto;
}

.main_title{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sub_main_title{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.intro_header{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 24px;
}
.intro_body{
}
.tips {
  padding: 0;
}

.tab{
  margin-left: 40px;
}
